body{
    background-color: hsl(212, 45%, 89%);
}

/*.container{
    width: 20%;
    margin: 150px auto;
}*/

@media (max-width: 375px){
    .box{
        margin: 100px auto;
    }
}

.image{
    width: 260px;
    border-radius: 10px;
    margin: 15px 15px 0px 15px;
    /*width: 90%;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 10px;*/
}

.box{
    width: 300px;
    border-radius: 15px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    margin: 150px auto;
    /*border: 1px solid;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);*/
}

.text{
    padding: 0 30px 10px 30px;
}

/*.textOne{
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    margin-top: 0;
    font-size: 20px;
    padding: 0 20px;
    font-weight: 700;
}*/

h3{
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.textTwo{
    font-family:'Outfit', sans-serif;
    font-size: 15px;
    /*padding: 0 20px;*/
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}



